{% extends 'core/base2.html' %}
{% block title %} Home {% endblock %}

{% block content %}
  <link rel="stylesheet" href="media/assets/css/style-prefix.css">



<body>
        <h2 class = "mb-12 text-2xl text-center" style = "position:relative;top:5px; left:-20px; margin-bottom:20px;background-color-white;">All Sweaters</h2>

   <div class="mt-6 px-6 py-6 py-12 bg-gray-100 rounded-xl">
        <div class = "grid grid-cols-3 gap-3" style = 'margin-top:10px;'>
            {% for item in items %}
            <div style = 'margin-bottom:40px;'>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <center>
                        <img src="{{ item.image.url }}" class = "rounded-t-xl">
                            </center>
                    </div>

                    <div class="p-6 bg-white rounded-b-xl" style = 'height:55px;width:auto;'>
                        <p class="text-2l" style = 'margin-top:-4.0%;'>{{ item.name }}</p>
                        <p class = "text-gray-500" style = 'margin-top:-1%;'>Price: {{ item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

    </body>


{% endblock %}